@import "tailwindcss";

.bg-black-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(0 3 25 / var(--tw-bg-opacity));
}
@theme inline {
  --color-black-100: #000319;
}

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}
 
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}